// Display
.hub-block {
	display: block !important;
	@include breakpoints($xs) {
		&-xs {
			display: block !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			display: block !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			display: block !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			display: block !important;
		}
	}
}

.hub-flex {
	display: flex !important;
	@include breakpoints($xs) {
		&-xs {
			display: flex !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			display: flex !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			display: flex !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			display: flex !important;
		}
	}
}

.hub-inline {
	display: inline !important;
	@include breakpoints($xs) {
		&-xs {
			display: inline !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			display: inline !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			display: inline !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			display: inline !important;
		}
	}
}

.hub-inline-block {
	display: inline-block !important;
	@include breakpoints($xs) {
		&-xs {
			display: inline-block !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			display: inline-block !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			display: inline-block !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			display: inline-block !important;
		}
	}
}

.hub-none {
	display: none !important;
	@include breakpoints($xs) {
		&-xs {
			display: none !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			display: none !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			display: none !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			display: none !important;
		}
	}
}

.hub-table {
	display: table !important;
	@include breakpoints($xs) {
		&-xs {
			display: table !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			display: table !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			display: table !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			display: table !important;
		}
	}
}

.hub-table-cell {
	display: table-cell !important;
	@include breakpoints($xs) {
		&-xs {
			display: table-cell !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			display: table-cell !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			display: table-cell !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			display: table-cell !important;
		}
	}
}
