// Margin
@for $i from 0 through 20 {
	.hub-mg-#{$i * 5} {
		margin: 1px * ($i * 5) !important;
	}
}
@for $i from 0 through 20 {
	@include breakpoints($xs) {
		.hub-mg-#{$i * 5}-xs {
			margin: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($sm) {
		.hub-mg-#{$i * 5}-sm {
			margin: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($md) {
		.hub-mg-#{$i * 5}-md {
			margin: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($lg) {
		.hub-mg-#{$i * 5}-lg {
			margin: 1px * ($i * 5) !important;
		}
	}
}

// Margin top
@for $i from 0 through 20 {
	.hub-mt-#{$i * 5} {
		margin-top: 1px * ($i * 5) !important;
	}
}
@for $i from 0 through 20 {
	@include breakpoints($xs) {
		.hub-mt-#{$i * 5}-xs {
			margin-top: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($sm) {
		.hub-mt-#{$i * 5}-sm {
			margin-top: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($md) {
		.hub-mt-#{$i * 5}-md {
			margin-top: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($lg) {
		.hub-mt-#{$i * 5}-lg {
			margin-top: 1px * ($i * 5) !important;
		}
	}
}

// Margin right
@for $i from 0 through 20 {
	.hub-mr-#{$i * 5} {
		margin-right: 1px * ($i * 5) !important;
	}
}
@for $i from 0 through 20 {
	@include breakpoints($xs) {
		.hub-mr-#{$i * 5}-xs {
			margin-right: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($sm) {
		.hub-mr-#{$i * 5}-sm {
			margin-right: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($md) {
		.hub-mr-#{$i * 5}-md {
			margin-right: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($lg) {
		.hub-mr-#{$i * 5}-lg {
			margin-right: 1px * ($i * 5) !important;
		}
	}
}

// Margin bottom
@for $i from 0 through 20 {
	.hub-mb-#{$i * 5} {
		margin-bottom: 1px * ($i * 5) !important;
	}
}
@for $i from 0 through 20 {
	@include breakpoints($xs) {
		.hub-mb-#{$i * 5}-xs {
			margin-bottom: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($sm) {
		.hub-mb-#{$i * 5}-sm {
			margin-bottom: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($md) {
		.hub-mb-#{$i * 5}-md {
			margin-bottom: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($lg) {
		.hub-mb-#{$i * 5}-lg {
			margin-bottom: 1px * ($i * 5) !important;
		}
	}
}

// Margin left
@for $i from 0 through 20 {
	.hub-ml-#{$i * 5} {
		margin-left: 1px * ($i * 5) !important;
	}
}
@for $i from 0 through 20 {
	@include breakpoints($xs) {
		.hub-ml-#{$i * 5}-xs {
			margin-left: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($sm) {
		.hub-ml-#{$i * 5}-sm {
			margin-left: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($md) {
		.hub-ml-#{$i * 5}-md {
			margin-left: 1px * ($i * 5) !important;
		}
	}
}
@for $i from 0 through 20 {
	@include breakpoints($lg) {
		.hub-ml-#{$i * 5}-lg {
			margin-left: 1px * ($i * 5) !important;
		}
	}
}
