/*---------------*\
  $BUTTONS
\*---------------*/
/**
 * BUTTONS.........
*/

// Buttons
.hub-btn {
	background-color: transparent;
	border: 1px solid transparent;
	color: inherit;
	display: inline-block;
	outline: 0 none;
	overflow: hidden;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	@include border-radius(3px);
	@include transition(all, ease, .3s);
	&-lg {
		font-size: 19px;
		font-weight: 700;
		height: 50px;
		line-height: 38px;
	}
	&-md {
		font-size: 14px;
		height: 38px;
		line-height: 26px;
	}
	&-orange {
		background-color: $orange;
		border-color: $orange;
		color: $white;
		&:hover {
			background-color: $white;
			color: $orange;
		}
	}
	&-white {
		background-color: $white;
		border-color: $white;
		color: $black;
		&:hover {
			background-color: $black;
			color: $white;
		}
	}
	&-outline {
		&-black {
			border-color: $black;
			color: $black;
			&:hover {
				background-color: $black;
				color: $white;
			}
		}
		&-blue {
			border-color: $blue;
			color: $blue;
			&:hover {
				background-color: $blue;
				color: $white;
			}
		}
		&-light-grey {
			border-color: $light-grey;
			color: $light-grey;
			&:hover {
				background-color: $light-grey;
				color: $white;
			}
		}
		&-white {
			border-color: $white;
			color: $white;
			&:hover {
				background-color: $white;
				color: $black;
			}
		}
	}
}
