/*---------------*\
  $GRID
\*---------------*/
/**
* ROW.............
* COL.............
* OFFSET..........
* ALIGN ITEMS.....
* ALIGN SELF......
* FLEX DIRECTION..
* JUSTIFY CONTENT.
*/

// Row
.hub-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$space;
	margin-left: -$space;
}

// Col
[class^=hub-col-] {
	padding-right: $space;
	padding-left: $space;
}

@for $i from 1 through $cols {
	.hub-col-#{$i} {
		flex: 0 0 ($i * 100%) / $cols;
		max-width: ($i * 100%) / $cols;
	}
}
@for $i from 1 through $cols {
	@include breakpoints($xs) {
		.hub-col-#{$i}-xs {
			flex: 0 0 ($i * 100%) / $cols  !important;
			max-width: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($sm) {
		.hub-col-#{$i}-sm {
			flex: 0 0 ($i * 100%) / $cols  !important;
			max-width: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($md) {
		.hub-col-#{$i}-md {
			flex: 0 0 ($i * 100%) / $cols  !important;
			max-width: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($lg) {
		.hub-col-#{$i}-lg {
			flex: 0 0 ($i * 100%) / $cols  !important;
			max-width: ($i * 100%) / $cols  !important;
		}
	}
}

// Offset
@for $i from 1 through $cols {
	.hub-col-offset-#{$i} {
		margin-left: ($i * 100%) / $cols;
	}
}
@for $i from 1 through $cols {
	@include breakpoints($xs) {
		.hub-col-offset-#{$i}-xs {
			margin-left: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($sm) {
		.hub-col-offset-#{$i}-sm {
			margin-left: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($md) {
		.hub-col-offset-#{$i}-md {
			margin-left: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($lg) {
		.hub-col-offset-#{$i}-lg {
			margin-left: ($i * 100%) / $cols  !important;
		}
	}
}

// Align items
.hub-align-items-start {
	align-items: flex-start !important;
	@include breakpoints($xs) {
		&-xs {
			align-items: flex-start !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-items: flex-start !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-items: flex-start !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-items: flex-start !important;
		}
	}
}

.hub-align-items-center {
	align-items: center !important;
	@include breakpoints($xs) {
		&-xs {
			align-items: center !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-items: center !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-items: center !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-items: center !important;
		}
	}
}

.hub-align-items-end {
	align-items: flex-end !important;
	@include breakpoints($xs) {
		&-xs {
			align-items: flex-end !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-items: flex-end !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-items: flex-end !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-items: flex-end !important;
		}
	}
}

// Align self
.hub-align-self-start {
	align-self: flex-start !important;
	@include breakpoints($xs) {
		&-xs {
			align-self: flex-start !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-self: flex-start !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-self: flex-start !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-self: flex-start !important;
		}
	}
}

.hub-align-self-center {
	align-self: center !important;
	@include breakpoints($xs) {
		&-xs {
			align-self: center !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-self: center !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-self: center !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-self: center !important;
		}
	}
}

.hub-align-self-end {
	align-self: flex-end !important;
	@include breakpoints($xs) {
		&-xs {
			align-self: flex-end !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-self: flex-end !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-self: flex-end !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-self: flex-end !important;
		}
	}
}

// Flex direction
.hub-flex-column {
	flex-direction: column !important;
	@include breakpoints($xs) {
		&-xs {
			flex-direction: column !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			flex-direction: column !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			flex-direction: column !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			flex-direction: column !important;
		}
	}
}

.hub-row-reverse {
	flex-direction: row-reverse !important;
	@include breakpoints($xs) {
		&-xs {
			flex-direction: row-reverse !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			flex-direction: row-reverse !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			flex-direction: row-reverse !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			flex-direction: row-reverse !important;
		}
	}
}

// Justify content
.hub-justify-content-start {
	justify-content: flex-start !important;
	@include breakpoints($xs) {
		&-xs {
			justify-content: flex-start !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			justify-content: flex-start !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			justify-content: flex-start !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			justify-content: flex-start !important;
		}
	}
}

.hub-justify-content-center {
	justify-content: center !important;
	@include breakpoints($xs) {
		&-xs {
			justify-content: center !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			justify-content: center !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			justify-content: center !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			justify-content: center !important;
		}
	}
}

.hub-justify-content-end {
	justify-content: flex-end !important;
	@include breakpoints($xs) {
		&-xs {
			justify-content: flex-end !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			justify-content: flex-end !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			justify-content: flex-end !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			justify-content: flex-end !important;
		}
	}
}

.hub-justify-content-around {
	justify-content: space-around !important;
	@include breakpoints($xs) {
		&-xs {
			justify-content: space-around !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			justify-content: space-around !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			justify-content: space-around !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			justify-content: space-around !important;
		}
	}
}

.hub-justify-content-between {
	justify-content: space-between !important;
	@include breakpoints($xs) {
		&-xs {
			justify-content: space-between !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			justify-content: space-between !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			justify-content: space-between !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			justify-content: space-between !important;
		}
	}
}
